<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blocain.bitms.bitpay.mapper.WithdrawRecordMapper">
  
  <sql id="Base_Column_List">
		<trim suffixOverrides=",">
		id,account_id,raise_addr,occur_amt,net_fee,stockinfo_id,state,remark,create_date,
	 	</trim>
   </sql>
   
</mapper>