<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blocain.bitms.trade.fund.mapper.BlockTransConfirmMapper">
    <!-- 基础列 -->
    <sql id="blockTransConfirmColumns">
        a.id as id,
        a.stockinfoId as stockinfoId,
        a.walletId as walletId,
        a.walletAddr as walletAddr,
        a.transId as transId,
        a.confirmSide as confirmSide,
        a.direct as direct,
        a.status as status,
        a.amount as amount,
        a.fee as fee,
        a.remark as remark,
        a.createBy as createBy,
        a.createDate as createDate
    </sql>
    <sql id="blockTransConfirmJoinColumns">
    	a.id as id,
        a.stockinfoId as stockinfoId,
        a.walletAddr as walletAddr,
        a.confirmSide as confirmSide,
        a.direct as direct,
        a.status as status,
        a.amount as amount,
        a.fee as fee,
        a.remark as remark,
        a.createBy as createBy,
        a.createDate as createDate, 
        a.transId as transId,
        b.accountName as accountName,
        b.id as accountId,
        d.stockCode as stockCode,
        d.stockName as stockName,
        d.stockType as stockType,
        a.walletId as walletId
    </sql>

    <sql id="blockTransConfirmJoinStockColumns">
        a.id as id,
        a.stockinfoId as stockinfoId,
        a.walletId as walletId,
        a.walletAddr as walletAddr,
        a.transId as transId,
        a.confirmSide as confirmSide,
        a.direct as direct,
        a.status as status,
        a.amount as amount,
        a.fee as fee,
        a.remark as remark,
        a.createBy as createBy,
        a.createDate as createDate,
        c.stockCode as stockCode,
        c.stockType as stockType
    </sql>

    <resultMap id="blockTransConfirmResultMap" type="com.blocain.bitms.trade.fund.entity.BlockTransConfirm">
        <id column="id" property="id" />
        <result column="stockinfoId" property="stockinfoId"/>
        <result column="walletId" property="walletId"/>
        <result column="walletAddr" property="walletAddr"/>
        <result column="transId" property="transId"/>
        <result column="confirmSide" property="confirmSide"/>
        <result column="direct" property="direct"/>
        <result column="status" property="status"/>
        <result column="amount" property="amount"/>
        <result column="fee" property="fee"/>
        <result column="remark" property="remark"/>
        <result column="createBy" property="createBy"/>
        <result column="createDate" property="createDate"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.blocain.bitms.trade.fund.entity.BlockTransConfirm">
        insert into BlockTransConfirm(
            id ,
            stockinfoId ,
            walletId ,
            walletAddr ,
            transId ,
            confirmSide ,
            direct ,
            status ,
            amount,
            fee,
            remark ,
            createBy ,
            createDate 
        ) VALUES (
            #{id} ,
            #{walletId} ,
            #{stockinfoId} ,
            #{walletAddr} ,
            #{transId} ,
            #{confirmSide} ,
            #{direct} ,
            #{status} ,
            #{amount} ,
            #{fee} ,
            #{remark} ,
            #{createBy} ,
            #{createDate} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        delete from BlockTransConfirm where id = #{id}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.Long">
        update BlockTransConfirm set delFlag = 1 where id = #{id}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.blocain.bitms.trade.fund.entity.BlockTransConfirm">
        insert into BlockTransConfirm
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                id ,
        </if>
        <if test="stockinfoId != null">
                stockinfoId ,
        </if>
        <if test="walletAddr != null">
                walletAddr ,
        </if>
        <if test="confirmSide != null">
                confirmSide ,
        </if>
        <if test="direct != null">
                direct ,
        </if>
        <if test="status != null">
                status ,
        </if>
        <if test="amount != null">
                amount ,
        </if>
        <if test="fee != null">
                fee ,
        </if>
        <if test="remark != null">
                remark ,
        </if>
        <if test="createBy != null">
                createBy ,
        </if>
        <if test="createDate != null">
                createDate 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="stockinfoId != null">
                #{stockinfoId} ,
        </if>
        <if test="walletAddr != null">
                #{walletAddr} ,
        </if>
        <if test="confirmSide != null">
                #{confirmSide} ,
        </if>
        <if test="direct != null">
                #{direct} ,
        </if>
        <if test="status != null">
                #{status} ,
        </if>
        <if test="amount != null">
                #{amount} ,
        </if>
        <if test="fee != null">
                #{fee} ,
        </if>
        <if test="remark != null">
                #{remark} ,
        </if>
        <if test="createBy != null">
                #{createBy} ,
        </if>
        <if test="createDate != null">
                #{createDate} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.blocain.bitms.trade.fund.entity.BlockTransConfirm">
        update BlockTransConfirm
           <set>
            <if test="stockinfoId != null">
                stockinfoId = #{stockinfoId} ,
            </if>
            <if test="walletAddr != null">
                walletAddr = #{walletAddr} ,
            </if>
            <if test="confirmSide != null">
                confirmSide = #{confirmSide} ,
            </if>
            <if test="direct != null">
                direct = #{direct} ,
            </if>
            <if test="status != null">
                status = #{status} ,
            </if>
            <if test="amount != null">
                amount = #{amount} ,
            </if>
            <if test="fee != null">
                fee = #{fee} ,
            </if>
            <if test="remark != null">
                remark = #{remark} ,
            </if>
            <if test="createBy != null">
                createBy = #{createBy} ,
            </if>
            <if test="createDate != null">
                createDate = #{createDate} 
            </if>
           </set>
        where id = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        insert into BlockTransConfirm(
            id ,
            stockinfoId ,
            walletId ,
            walletAddr ,
            transId ,
            confirmSide ,
            direct ,
            status ,
            amount,
            fee,
            remark ,
            createBy ,
            createDate 
        )
        <foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
            select
            #{item.id} ,
            #{item.stockinfoId} ,
            #{item.walletId} ,
            #{item.walletAddr} ,
            #{item.transId} ,
            #{item.confirmSide} ,
            #{item.direct} ,
            #{item.status} ,
            #{item.amount} ,
            #{item.fee} ,
            #{item.remark} ,
            #{item.createBy} ,
            #{item.createDate} 
            from dual
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update BlockTransConfirm set
            stockinfoId = #{item.stockinfoId} ,
            walletAddr = #{item.walletAddr} ,
            confirmSide = #{item.confirmSide} ,
            direct = #{item.direct} ,
            status = #{item.status} ,
            amount = #{item.amount} ,
            fee = #{item.fee} ,
            remark = #{item.remark} ,
            createBy = #{item.createBy} ,
            createDate = #{item.createDate} 
            where id = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.blocain.bitms.trade.fund.entity.BlockTransConfirm">
        update BlockTransConfirm set
            stockinfoId = #{stockinfoId} ,
            walletAddr = #{walletAddr} ,
            confirmSide = #{confirmSide} ,
            direct = #{direct} ,
            status = #{status} ,
            amount = #{amount} ,
            fee = #{fee} ,
            remark = #{remark} ,
            createBy = #{createBy} ,
            createDate = #{createDate} 
        where id = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.blocain.bitms.trade.fund.entity.BlockTransConfirm">
        select <include refid="blockTransConfirmColumns"/> from BlockTransConfirm a where a.id = #{id}
    </select>

	<!-- 可分页的对象查询 boss 区块交易确认1 充值  -->
	<select id="findConfirmChargeList"  resultType="com.blocain.bitms.trade.fund.entity.BlockTransConfirm">
			SELECT 
				<include refid="blockTransConfirmJoinColumns"/>
			FROM BlockTransConfirm a,SystemWalletAddr c, Account b,StockInfo d 
			WHERE b.id=c.accountId and a.walletId=c.walletId 
			and a.walletAddr=c.walletAddr and d.id =a.stockinfoId 
			<if test="stockinfoId != null">
	            and a.stockinfoId = #{stockinfoId}
	        </if>
			<if test="accountName != null">
	            and b.accountName like '%'||#{accountName}||'%'
	        </if>
	        <if test="confirmSide != null">
	            and a.confirmSide = #{confirmSide}
	        </if>
	        <if test="status != null">
	            and a.status = #{status} 
	        </if>
	</select>
	<!-- 可分页的对象查询 boss 区块交易确认2 提现  -->
	<select id="findConfirmRaiseList"  resultType="com.blocain.bitms.trade.fund.entity.BlockTransConfirm">
	    	SELECT 
	    		<include refid="blockTransConfirmJoinColumns"/>
			FROM BlockTransConfirm a,AccountFundTransfer c,Account b,StockInfo d 
			WHERE b.id=c.accountId and a.walletid = c.srcwalletid
			and a.walletAddr=c.targetWalletAddr
			and a.transid = c.transid
			and a.stockinfoId=c.stockinfoId and d.id =a.stockinfoId 
			<if test="stockinfoId != null">
	            and a.stockinfoId = #{stockinfoId}
	        </if>
			<if test="accountName != null">
	            and b.accountName like '%'||#{accountName}||'%'
	        </if>
	        <if test="confirmSide != null">
	            and a.confirmSide = #{confirmSide}
	        </if>
	        <if test="status != null and status != ''">
	            and a.status = #{status} 
	        </if>
	</select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.blocain.bitms.trade.fund.entity.BlockTransConfirm">
        SELECT
        <include refid="blockTransConfirmColumns"/>
        FROM BlockTransConfirm a
		WHERE 1=1   
        <if test="stockinfoId != null">
            and a.stockinfoId = #{stockinfoId}
        </if>
        <if test="confirmSide != null">
            and a.confirmSide = #{confirmSide}
        </if>
        <if test="status != null">
            and a.status = #{status} 
        </if>
    </select>
    
    <!-- 可分页的对象查询[充值历史] -->
    <select id="findChargeList" resultType="com.blocain.bitms.trade.fund.entity.BlockTransConfirm">
        SELECT * FROM (SELECT ROW_NUMBER() OVER(PARTITION BY transid ORDER BY a.status DESC) rn,       
          <include refid="blockTransConfirmJoinStockColumns"/>
          FROM  SystemWalletAddr b ,blocktransconfirm a left join stockinfo c on c.id=a.stockinfoId
          WHERE a.walletId=b.walletId and a.walletAddr=b.walletAddr  and a.stockinfoId=b.stockinfoId  
          	and  b.accountId=#{accountId} 
			and  a.direct=#{direct} 
			and  a.stockinfoId=#{stockinfoId}  
          )
   		WHERE rn = 1  order by createDate desc
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.blocain.bitms.trade.fund.entity.BlockTransConfirm">
        SELECT
        <include refid="blockTransConfirmJoinColumns"/>
        FROM Account b,BlockTransConfirm a,SystemWalletAddr c,StockInfo d , SystemWallet e
		WHERE b.id=c.accountId  and a.walletId=c.walletId and a.walletAddr=c.walletAddr  and d.id =a.stockinfoId 
		and e.id=a.walletId
    </select>
    
    <!-- 查询实体 -->
    <select id="findWalletTransList" resultType="com.blocain.bitms.trade.fund.entity.BlockTransConfirm">
        SELECT
        <include refid="blockTransConfirmColumns"/>
        FROM BlockTransConfirm a WHERE a.stockinfoId=#{stockinfoId}
        <if test="walletId != null">
            and a.walletId = #{walletId}
        </if>
        <if test="transId != null">
            and a.transId = #{transId}
        </if>
        <if test="status != null">
            and a.status = #{status}
        </if>
    </select>

</mapper>

