<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blocain.bitms.boss.common.mapper.DictionaryMapper">
    <cache eviction="LRU" type="com.blocain.bitms.orm.cache.RedisCache"/>
    <!-- 基础列 -->
    <sql id="dictionaryColumns">
        a.id as id,
        a.parentId as parentId,
        a.code as code,
        a.name as name,
        a.lang as lang,
        a.dest as dest,
        a.sortNum as sortNum,
        a.active as active,
        a.createBy as createBy,
        a.createDate as createDate,
        a.delFlag as delFlag
    </sql>

    <sql id="dictionaryJoinColumns">
        a.id as id,
        a.parentId as parentId,
        a.code as code,
        a.name as name,
        a.lang as lang,
        a.dest as dest,
        a.sortNum as sortNum,
        a.active as active,
        a.createBy as createBy,
        b.trueName as createByName,
        a.createDate as createDate,
        a.delFlag as delFlag
    </sql>

    <resultMap id="dictionaryResultMap" type="com.blocain.bitms.boss.common.entity.Dictionary">
        <id column="id" property="id"/>
        <result column="parentId" property="parentId"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="lang" property="lang"/>
        <result column="dest" property="dest"/>
        <result column="sortNum" property="sortNum"/>
        <result column="active" property="active"/>
        <result column="createBy" property="createBy"/>
        <result column="createDate" property="createDate"/>
        <result column="delFlag" property="delFlag"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.blocain.bitms.boss.common.entity.Dictionary">
        insert into Dictionary(
        id ,
        parentId ,
        code ,
        name ,
        lang ,
        dest ,
        sortNum ,
        active ,
        createBy ,
        createDate ,
        delFlag
        ) VALUES (
        #{id} ,
        #{parentId} ,
        #{code} ,
        #{name} ,
        #{lang} ,
        #{dest} ,
        #{sortNum} ,
        #{active} ,
        #{createBy} ,
        #{createDate} ,
        #{delFlag}
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        delete from Dictionary where id = #{id}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.Long">
        update Dictionary set delFlag = 1 where id = #{id}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.blocain.bitms.boss.common.entity.Dictionary">
        insert into Dictionary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id ,
            </if>
            <if test="parentId != null">
                parentId ,
            </if>
            <if test="code != null">
                code ,
            </if>
            <if test="name != null">
                name ,
            </if>
            <if test="lang != null">
                lang ,
            </if>
            <if test="dest != null">
                dest ,
            </if>
            <if test="sortNum != null">
                sortNum ,
            </if>
            <if test="active != null">
                active ,
            </if>
            <if test="createBy != null">
                createBy ,
            </if>
            <if test="createDate != null">
                createDate ,
            </if>
            <if test="delFlag != null">
                delFlag
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id} ,
            </if>
            <if test="parentId != null">
                #{parentId} ,
            </if>
            <if test="code != null">
                #{code} ,
            </if>
            <if test="name != null">
                #{name} ,
            </if>
            <if test="lang != null">
                #{lang} ,
            </if>
            <if test="dest != null">
                #{dest} ,
            </if>
            <if test="sortNum != null">
                #{sortNum} ,
            </if>
            <if test="active != null">
                #{active} ,
            </if>
            <if test="createBy != null">
                #{createBy} ,
            </if>
            <if test="createDate != null">
                #{createDate} ,
            </if>
            <if test="delFlag != null">
                #{delFlag}
            </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.blocain.bitms.boss.common.entity.Dictionary">
        update Dictionary
        <set>
            <if test="parentId != null">
                parentId = #{parentId} ,
            </if>
            <if test="code != null">
                code = #{code} ,
            </if>
            <if test="name != null">
                name = #{name} ,
            </if>
            <if test="lang != null">
                lang = #{lang} ,
            </if>
            <if test="dest != null">
                dest = #{dest} ,
            </if>
            <if test="sortNum != null">
                sortNum = #{sortNum} ,
            </if>
            <if test="active != null">
                active = #{active} ,
            </if>
            <if test="createBy != null">
                createBy = #{createBy} ,
            </if>
            <if test="createDate != null">
                createDate = #{createDate} ,
            </if>
            <if test="delFlag != null">
                delFlag = #{delFlag}
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        insert into Dictionary(
        id ,
        parentId ,
        code ,
        name ,
        lang ,
        dest ,
        sortNum ,
        active ,
        createBy ,
        createDate ,
        delFlag
        )
        <foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
            select
            #{item.id} ,
            #{item.parentId} ,
            #{item.code} ,
            #{item.name} ,
            #{item.lang} ,
            #{item.dest} ,
            #{item.sortNum} ,
            #{item.active} ,
            #{item.createBy} ,
            #{item.createDate} ,
            #{item.delFlag}
            from dual
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update Dictionary set
            parentId = #{item.parentId} ,
            code = #{item.code} ,
            name = #{item.name} ,
            lang = #{item.lang} ,
            dest = #{item.dest} ,
            sortNum = #{item.sortNum} ,
            active = #{item.active} ,
            createBy = #{item.createBy} ,
            createDate = #{item.createDate} ,
            delFlag = #{item.delFlag}
            where id = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.blocain.bitms.boss.common.entity.Dictionary">
        update Dictionary set
        parentId = #{parentId} ,
        code = #{code} ,
        name = #{name} ,
        lang = #{lang} ,
        dest = #{dest} ,
        sortNum = #{sortNum} ,
        active = #{active} ,
        createBy = #{createBy} ,
        createDate = #{createDate} ,
        delFlag = #{delFlag}
        where id = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long"
            resultType="com.blocain.bitms.boss.common.entity.Dictionary">
        select
        <include refid="dictionaryColumns"/>
        from Dictionary a where a.id = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.blocain.bitms.boss.common.entity.Dictionary">
        SELECT
        <include refid="dictionaryJoinColumns"/>
        FROM Dictionary a LEFT JOIN UserInfo b
        on a.createBy = b.id
        WHERE a.delFlag = 0
        <if test="parentId != null">
            and a.parentId = #{parentId}
        </if>
        <if test="code != null">
            and a.code like '%'||#{code}||'%'
        </if>
        <if test="name != null">
            and a.name like '%'||#{name}||'%'
        </if>
        <if test="lang != null">
            and a.lang like '%'||#{lang}||'%'
        </if>
        <if test="active != null">
            and a.active = #{active}
        </if>
        <if test="createBy != null">
            and a.createBy = #{createBy}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.blocain.bitms.boss.common.entity.Dictionary">
        SELECT
        <include refid="dictionaryColumns"/>
        FROM Dictionary a WHERE a.delFlag = 0
    </select>

    <select id="findByCode" resultType="com.blocain.bitms.boss.common.entity.Dictionary">
        SELECT
        <include refid="dictionaryColumns"/>
        FROM Dictionary a WHERE a.delFlag = 0
        AND a.parentId = (
          select id from Dictionary
          where delFlag = 0
          and code = #{code}
          and lang=#{lang}
        ) and lang=#{lang}
    </select>
    <select id="findByParentId" parameterType="hashmap" resultType="com.blocain.bitms.boss.common.entity.Dictionary">
        SELECT
        <include refid="dictionaryColumns"/>
        FROM Dictionary a WHERE a.delFlag = 0
        <if test="parentId != null">
            AND a.parentId =  #{parentId}
        </if>
    </select>
</mapper>