<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blocain.bitms.trade.fund.mapper.MarketSnapMapper">
    <!-- 基础列 -->
    <sql id="marketSnapColumns">
        a.id as id,
        a.pairStockinfoId as pairStockinfoId,
        a.paltformPrice as paltformPrice,
        a.indexPrice as indexPrice,
        a.premiumPrice as premiumPrice,
        a.premiumRate as premiumRate,
        a.marketTimestamp as marketTimestamp,
        a.remark as remark
    </sql>

    <resultMap id="marketSnapResultMap" type="com.blocain.bitms.trade.fund.entity.MarketSnap">
        <id column="id" property="id" />
        <result column="pairStockinfoId" property="pairStockinfoId"/>
        <result column="paltformPrice" property="paltformPrice"/>
        <result column="indexPrice" property="indexPrice"/>
        <result column="premiumPrice" property="premiumPrice"/>
        <result column="premiumRate" property="premiumRate"/>
        <result column="marketTimestamp" property="marketTimestamp"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.blocain.bitms.trade.fund.entity.MarketSnap">
        insert into MarketSnap(
            id ,
            pairStockinfoId ,
            paltformPrice ,
            indexPrice ,
            premiumPrice ,
            premiumRate ,
            marketTimestamp ,
            remark 
        ) VALUES (
            #{id} ,
            #{pairStockinfoId} ,
            #{paltformPrice} ,
            #{indexPrice} ,
            #{premiumPrice} ,
            #{premiumRate} ,
            #{marketTimestamp} ,
            #{remark} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        delete from MarketSnap where id = #{id}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.Long">
        delete from MarketSnap where id = #{id}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.blocain.bitms.trade.fund.entity.MarketSnap">
        insert into MarketSnap
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                id ,
        </if>
        <if test="pairStockinfoId != null">
                pairStockinfoId ,
        </if>
        <if test="paltformPrice != null">
                paltformPrice ,
        </if>
        <if test="indexPrice != null">
                indexPrice ,
        </if>
        <if test="premiumPrice != null">
                premiumPrice ,
        </if>
        <if test="premiumRate != null">
                premiumRate ,
        </if>
        <if test="marketTimestamp != null">
                marketTimestamp ,
        </if>
        <if test="remark != null">
                remark 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="pairStockinfoId != null">
                #{pairStockinfoId} ,
        </if>
        <if test="paltformPrice != null">
                #{paltformPrice} ,
        </if>
        <if test="indexPrice != null">
                #{indexPrice} ,
        </if>
        <if test="premiumPrice != null">
                #{premiumPrice} ,
        </if>
        <if test="premiumRate != null">
                #{premiumRate} ,
        </if>
        <if test="marketTimestamp != null">
                #{marketTimestamp} ,
        </if>
        <if test="remark != null">
                #{remark} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.blocain.bitms.trade.fund.entity.MarketSnap">
        update MarketSnap
           <set>
            <if test="pairStockinfoId != null">
                pairStockinfoId = #{pairStockinfoId} ,
            </if>
            <if test="paltformPrice != null">
                paltformPrice = #{paltformPrice} ,
            </if>
            <if test="indexPrice != null">
                indexPrice = #{indexPrice} ,
            </if>
            <if test="premiumPrice != null">
                premiumPrice = #{premiumPrice} ,
            </if>
            <if test="premiumRate != null">
                premiumRate = #{premiumRate} ,
            </if>
            <if test="marketTimestamp != null">
                marketTimestamp = #{marketTimestamp} ,
            </if>
            <if test="remark != null">
                remark = #{remark} 
            </if>
           </set>
        where id = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        insert into MarketSnap(
            id ,
            pairStockinfoId ,
            paltformPrice ,
            indexPrice ,
            premiumPrice ,
            premiumRate ,
            marketTimestamp ,
            remark 
        )
        <foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
            select
            #{item.id} ,
            #{item.pairStockinfoId} ,
            #{item.paltformPrice} ,
            #{item.indexPrice} ,
            #{item.premiumPrice} ,
            #{item.premiumRate} ,
            #{item.marketTimestamp} ,
            #{item.remark} 
            from dual
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update MarketSnap set
            pairStockinfoId = #{item.pairStockinfoId} ,
            paltformPrice = #{item.paltformPrice} ,
            indexPrice = #{item.indexPrice} ,
            premiumPrice = #{item.premiumPrice} ,
            premiumRate = #{item.premiumRate} ,
            marketTimestamp = #{item.marketTimestamp} ,
            remark = #{item.remark} 
            where id = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.blocain.bitms.trade.fund.entity.MarketSnap">
        update MarketSnap set
            pairStockinfoId = #{pairStockinfoId} ,
            paltformPrice = #{paltformPrice} ,
            indexPrice = #{indexPrice} ,
            premiumPrice = #{premiumPrice} ,
            premiumRate = #{premiumRate} ,
            marketTimestamp = #{marketTimestamp} ,
            remark = #{remark} 
        where id = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.blocain.bitms.trade.fund.entity.MarketSnap">
        select <include refid="marketSnapColumns"/> from MarketSnap a where a.id = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.blocain.bitms.trade.fund.entity.MarketSnap">
        SELECT
        <include refid="marketSnapColumns"/>
        FROM MarketSnap a WHERE 1=1
        <if test="pairStockinfoId != null">
            and a.pairStockinfoId = #{pairStockinfoId}
        </if>
        order by a.marketTimestamp desc
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.blocain.bitms.trade.fund.entity.MarketSnap">
        SELECT
        <include refid="marketSnapColumns"/>
        FROM MarketSnap a
    </select>

    <select id="selectLastOne" parameterType="java.lang.Long"  resultType="com.blocain.bitms.trade.fund.entity.MarketSnap">
        select <include refid="marketSnapColumns"/>
        from (select * from MarketSnap a where a.pairStockinfoId=#{pairStockinfoId}  and  marketTimestamp &gt;= sysdate-0.5  order by a.marketTimestamp desc ) a where rownum = 1
    </select>

</mapper>

