<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blocain.bitms.monitor.mapper.MonitorAcctBalMapper">
	<!-- 基础列 -->
	<sql id="monitorAcctBalColumns">
		a.monitorType as monitorType,
		a.monitorSubType as monitorSubType,
		a.accountId as accountId,
		a.stockinfoId as stockinfoId,
		a.beginBal as beginBal,
		a.beginFrozenBal as beginFrozenBal,
		a.amount as amount,
		a.frozenAmt as frozenAmt,
		a.endBal as endBal,
		a.endFrozenBal as endFrozenBal,
		a.monitordesc as monitorDesc,
		a.chkResult as chkResult,
		a.chkDate as chkDate
	</sql>

	<resultMap id="monitorAcctBalResultMap"
		type="com.blocain.bitms.monitor.entity.MonitorAcctBal">
		<result column="monitorType" property="monitorType" />
		<result column="monitorSubType" property="monitorSubType" />
		<result column="accountId" property="accountId" />
		<result column="stockinfoId" property="stockinfoId" />
		<result column="beginBal" property="beginBal" />
		<result column="beginFrozenBal" property="beginFrozenBal" />
		<result column="amount" property="amount" />
		<result column="frozenAmt" property="frozenAmt" />
		<result column="endBal" property="endBal" />
		<result column="endFrozenBal" property="endFrozenBal" />
		<result column="chkResult" property="chkResult" />
		<result column="chkDate" property="chkDate" />
		<result column="monitordesc" property="monitorDesc" />
		<result column="unid" property="unid" />
		<result column="accountname" property="accountName" />
		<result column="status" property="status" />
		<result column="stockname" property="stockName" />
	</resultMap>

	<!-- 普通插入 -->
	<insert id="insert" parameterType="com.blocain.bitms.monitor.entity.MonitorAcctBal">
		insert into MonitorAcctBal(
		monitorType ,
		monitorSubType ,
		accountId ,
		stockinfoId ,
		beginBal ,
		beginFrozenBal ,
		amount ,
		frozenAmt ,
		endBal ,
		endFrozenBal ,
		chkResult ,
		chkDate
		) VALUES (
		#{monitorType} ,
		#{monitorSubType} ,
		#{accountId} ,
		#{stockinfoId} ,
		#{beginBal} ,
		#{beginFrozenBal} ,
		#{amount} ,
		#{frozenAmt} ,
		#{endBal} ,
		#{endFrozenBal} ,
		#{chkResult} ,
		#{chkDate}
		)
	</insert>
	<!-- 根据主键物理删除 -->
	<delete id="remove" parameterType="java.lang.Long">
		delete from MonitorAcctBal where id = #{id}
	</delete>

	<!-- 根据主键逻辑删除 -->
	<update id="delete" parameterType="java.lang.Long">
		update MonitorAcctBal set delFlag = 1 where id = #{id}
	</update>

	<!--根据条件是否插入数据 -->
	<insert id="insertSelective" parameterType="com.blocain.bitms.monitor.entity.MonitorAcctBal">
		insert into MonitorAcctBal
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="monitorType != null">
				monitorType ,
			</if>
			<if test="monitorSubType != null">
				monitorSubType ,
			</if>
			<if test="accountId != null">
				accountId ,
			</if>
			<if test="stockinfoId != null">
				stockinfoId ,
			</if>
			<if test="beginBal != null">
				beginBal ,
			</if>
			<if test="beginFrozenBal != null">
				beginFrozenBal ,
			</if>
			<if test="amount != null">
				amount ,
			</if>
			<if test="frozenAmt != null">
				frozenAmt ,
			</if>
			<if test="endBal != null">
				endBal ,
			</if>
			<if test="endFrozenBal != null">
				endFrozenBal ,
			</if>
			<if test="chkResult != null">
				chkResult ,
			</if>
			<if test="chkDate != null">
				chkDate
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="monitorType != null">
				#{monitorType} ,
			</if>
			<if test="monitorSubType != null">
				#{monitorSubType} ,
			</if>
			<if test="accountId != null">
				#{accountId} ,
			</if>
			<if test="stockinfoId != null">
				#{stockinfoId} ,
			</if>
			<if test="beginBal != null">
				#{beginBal} ,
			</if>
			<if test="beginFrozenBal != null">
				#{beginFrozenBal} ,
			</if>
			<if test="amount != null">
				#{amount} ,
			</if>
			<if test="frozenAmt != null">
				#{frozenAmt} ,
			</if>
			<if test="endBal != null">
				#{endBal} ,
			</if>
			<if test="endFrozenBal != null">
				#{endFrozenBal} ,
			</if>
			<if test="chkResult != null">
				#{chkResult} ,
			</if>
			<if test="chkDate != null">
				#{chkDate}
			</if>
		</trim>
	</insert>

	<!-- 选择性更新数据 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.blocain.bitms.monitor.entity.MonitorAcctBal">
		update MonitorAcctBal
		<set>
			<if test="monitorType != null">
				monitorType = #{monitorType} ,
			</if>
			<if test="monitorSubType != null">
				monitorSubType = #{monitorSubType} ,
			</if>
			<if test="beginBal != null">
				beginBal = #{beginBal} ,
			</if>
			<if test="beginFrozenBal != null">
				beginFrozenBal = #{beginFrozenBal} ,
			</if>
			<if test="amount != null">
				amount = #{amount} ,
			</if>
			<if test="frozenAmt != null">
				frozenAmt = #{frozenAmt} ,
			</if>
			<if test="endBal != null">
				endBal = #{endBal} ,
			</if>
			<if test="endFrozenBal != null">
				endFrozenBal = #{endFrozenBal} ,
			</if>
			<if test="chkResult != null">
				chkResult = #{chkResult} ,
			</if>
		</set>
		where id = #{id}
	</update>

	<!-- 批量插入 -->
	<insert id="insertBatch" parameterType="list">
		insert into MonitorAcctBal(
		monitorType ,
		monitorSubType ,
		accountId ,
		stockinfoId ,
		beginBal ,
		beginFrozenBal ,
		amount ,
		frozenAmt ,
		endBal ,
		endFrozenBal ,
		chkResult ,
		chkDate
		)
		<foreach close=")" collection="list" item="item" index="index"
			open="(" separator="union">
			select
			#{item.monitorType} ,
			#{item.monitorSubType} ,
			#{item.accountId} ,
			#{item.stockinfoId} ,
			#{item.beginBal} ,
			#{item.beginFrozenBal} ,
			#{item.amount} ,
			#{item.frozenAmt} ,
			#{item.endBal} ,
			#{item.endFrozenBal} ,
			#{item.chkResult} ,
			#{item.chkDate}
			from dual
		</foreach>
	</insert>

	<!-- 批量修改 -->
	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin"
			close=";end;" separator=";">
			update MonitorAcctBal set
			monitorType = #{item.monitorType} ,
			monitorSubType = #{item.monitorSubType} ,
			beginBal = #{item.beginBal} ,
			beginFrozenBal = #{item.beginFrozenBal} ,
			amount = #{item.amount} ,
			frozenAmt = #{item.frozenAmt} ,
			endBal = #{item.endBal} ,
			endFrozenBal = #{item.endFrozenBal} ,
			chkResult = #{item.chkResult} ,
			where id = #{item.id}
		</foreach>
	</update>

	<!-- 根据主键更新一条信息所有数据 -->
	<update id="updateByPrimaryKey" parameterType="com.blocain.bitms.monitor.entity.MonitorAcctBal">
		update MonitorAcctBal set
		monitorType = #{monitorType} ,
		monitorSubType = #{monitorSubType} ,
		beginBal = #{beginBal} ,
		beginFrozenBal = #{beginFrozenBal} ,
		amount = #{amount} ,
		frozenAmt = #{frozenAmt} ,
		endBal = #{endBal} ,
		endFrozenBal = #{endFrozenBal} ,
		chkResult = #{chkResult} ,
		where id = #{id}
	</update>

	<!-- 根据主键取数据 -->
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultType="com.blocain.bitms.monitor.entity.MonitorAcctBal">
		select
		<include refid="monitorAcctBalColumns" />
		from MonitorAcctBal a where a.id = #{id}
	</select>

	<!-- 可分页的对象查询 -->
	<select id="findList" resultType="com.blocain.bitms.monitor.entity.MonitorAcctBal">
		SELECT
		<include refid="monitorAcctBalColumns" />
		FROM MonitorAcctBal a WHERE a.delFlag = 0
		<if test="monitorType != null">
			and a.monitorType like '%'||#{monitorType}||'%'
		</if>
		<if test="monitorSubType != null">
			and a.monitorSubType like '%'||#{monitorSubType}||'%'
		</if>
		<if test="beginBal != null">
			and a.beginBal = #{beginBal}
		</if>
		<if test="beginFrozenBal != null">
			and a.beginFrozenBal = #{beginFrozenBal}
		</if>
		<if test="amount != null">
			and a.amount = #{amount}
		</if>
		<if test="frozenAmt != null">
			and a.frozenAmt = #{frozenAmt}
		</if>
		<if test="endBal != null">
			and a.endBal = #{endBal}
		</if>
		<if test="endFrozenBal != null">
			and a.endFrozenBal = #{endFrozenBal}
		</if>
		<if test="chkResult != null">
			and a.chkResult like '%'||#{chkResult}||'%'
		</if>
	</select>

	<!-- 查询所有 -->
	<select id="selectAll" resultType="com.blocain.bitms.monitor.entity.MonitorAcctBal">
		SELECT
		<include refid="monitorAcctBalColumns" />
		FROM MonitorAcctBal a WHERE a.delFlag = 0
	</select>

	<!-- 可分页的对象查询 -->
	<select id="findMonitorAcctBalList" resultType="com.blocain.bitms.monitor.entity.MonitorAcctBal">
		select a.*,
		stock.stockname,
		nvl(acct.unid,0) unid,
		nvl(acct.accountname,'总账') accountname,
		nvl(acct.status,0) status
		from MonitorAcctBal a, account acct,stockinfo stock
		where a.accountid = acct.id(+)
		  and a.stockinfoid = stock.id
		<if test="accountName != null">
			and acct.accountName like '%'||#{accountName}||'%'
		</if>
		<if test="monitorSubType != null and monitorSubType!=''">
			and a.monitorSubType = #{monitorSubType}
		</if>
		<if test="unid != null ">
			and acct.unid = #{unid}
		</if>
		<if test="chkResult != null">
			and a.chkResult = #{chkResult}
		</if>
		<if test="timeStart != null ">
			and a.chkdate &gt;= to_date(#{timeStart},'YYYY-MM-DD hh24:mi:ss')
		</if>
		<if test="timeEnd != null ">
			and a.chkdate &lt;= to_date(#{timeEnd},'YYYY-MM-DD hh24:mi:ss')
		</if>
		order by a.chkdate desc
	</select>

</mapper>

